.fixed-navigation {
  position: absolute;
  top: 33%;
  display: block;
  background: #40454E;
  height: 150px;
  line-height: 150px;
}
.fixed-navigation .previous {
  left: 0;
}
.fixed-navigation .next {
  right: 0;
}
